<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers kitchen</title>
  <link rel="stylesheet" href="css/kitchen.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/kitchen.js" defer></script>
</head>
<body>
  <div id="mainDiv">
    <div id=leftDiv>
        <div id="topDiv">
            <h1> <button id=homeButton type="button" onclick="location.href='/staff';"> <img src="images/home.png" alt="Home Button" width=70px/> </button> BESTÄLLNINGAR</h1>
        </div>
        <div id="orderDiv1" class="orderDiv1">
                  <p id = "orderInfo">
                 <order-item-to-prepare
                    :order-id="activeOrder['juice'].orderId"
                    :order="activeOrder['juice']"
                    :ui-labels="uiLabels"
                    :lang="lang"
                    :key="activeOrder['juice'].orderId">
                </order-item-to-prepare>
              </p>
              <div class = "radioButtons">
                  <label class="containerEP">EJ PÅBÖRJAD
                    <input type="radio" checked="checked" name="radio1" v-on:Click="ejPaborjad('juice','orderDiv1')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerP">PÅBÖRJA
                    <input type="radio" name="radio1" v-on:Click="paborjad('juice','orderDiv1')">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerK">KLAR
                    <input type="radio" name="radio1" v-on:Click="klar('juice','orderDiv1')">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
        <div id="orderDiv2" class="orderDiv2">
          <p id = "orderInfo">
         <order-item-to-prepare
            :order-id="activeOrder['smoothie'].orderId"
            :order="activeOrder['smoothie']"
            :ui-labels="uiLabels"
            :lang="lang"
            :key="activeOrder['smoothie'].orderId">
        </order-item-to-prepare>
      </p>
      <div class= "radioButtons">
        <label class="containerEP">EJ PÅBÖRJAD
          <input type="radio" checked="checked" name="radio2" v-on:Click="ejPaborjad('smoothie','orderDiv2', 'dotted')">
          <span class="checkmark"></span>
        </label>
        <label class="containerP">PÅBÖRJA
          <input type="radio" name="radio2" v-on:Click="paborjad('smoothie','orderDiv2')">
          <span class="checkmark"></span>
        </label>
        <label class="containerK">KLAR
          <input type="radio" name="radio2" v-on:Click="klar('smoothie','orderDiv2')">
          <span class="checkmark"></span>
        </label>
    </div>
        </div>
    </div>
  <div id="rightDiv">
  <div id="orders">
    <div class="smallOrderList">
      <order-list
        v-for="(order, key) in orders"
        v-if="!order.done"
        :class="getActiveOrderStage(order)"
        v-on:active-order-juice = "activeOrder['juice'] = order"
        v-on:active-order-smoothie = "activeOrder['smoothie'] = order"
        :order-id="key"
        :order="order"
        :ui-labels="uiLabels"
        :lang="lang"
        :key="key">
      </order-list>
    </div>
  </div>
        <p id=clock> </p>
  </div>
</div>
</body>
</html>
