<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers Lager</title>
  <link rel="stylesheet" href="css/lager.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/lager.js" defer></script>
</head>
<body>
    <div id="mainDiv">
    <div id="topDiv">
        <p> <button id=homeButton type="button" onclick="location.href='/staff';"> <img src="images/home.png" alt="Home Button" width=70px/> </button>LAGERSALDO </p>
    </div>
    <div id="lagerDiv">
        <div id="lager">
            <div id="alphabet">
              <ul class="alphabet">
                        <li class=alphLetter>A</li>
                        <li class=alphLetter>B</li>
                        <li class=alphLetter>C</li>
                        <li class=alphLetter>D</li>
                        <li class=alphLetter>E</li>
                        <li class=alphLetter>F</li>
                        <li class=alphLetter>G</li>
                        <li class=alphLetter>H</li>
                        <li class=alphLetter>I</li>
                        <li class=alphLetter>J</li>
                        <li class=alphLetter>K</li>
                        <li class=alphLetter>L</li>
                        <li class=alphLetter>M</li>
                        <li class=alphLetter>N</li>
                        <li class=alphLetter>O</li>
                        <li class=alphLetter>P</li>
                        <li class=alphLetter>Q</li>
                        <li class=alphLetter>R</li>
                        <li class=alphLetter>S</li>
                        <li class=alphLetter>T</li>
                        <li class=alphLetter>U</li>
                        <li class=alphLetter>V</li>
                        <li class=alphLetter>W</li>
                        <li class=alphLetter>X</li>
                        <li class=alphLetter>Y</li>
                        <li class=alphLetter>Z</li>
                        <li class=alphLetter>Å</li>
                        <li class=alphLetter>Ä</li>
                        <li class=alphLetter>Ö</li>
                    </ul>
            </div>
            <div id="lagerList" class="scrollbar">
              <!--skickar till js-->
                <ingredient
                  ref="ingredient"
                  type="ingredient_butt"
                  v-for= "item in ingredients"
                  v-on:ingredientchosen = "chosenIng = item"
                  :id= "item.ingredient_id"
                  :item="item"
                  :lang="lang"
                  :key="item.ingredient_id">
                </ingredient>
            </div>
        </div>
        <div id="lagerConsole">
                <p id=consoleHeader> ÄNDRA LAGERSALDO</p>
            <p id=chosenIngredient>  {{chosenIng["ingredient_"+ lang]}}  <br>  STOCK:    {{chosenIng.stock}}</p>
            <div id=changeSaldoConsole>  <p id=changeSaldoConsoleChild></p> </div>
                <ul id="keyboard">
                    <input type="button" onClick="changeSaldo(this)" id ="letterButton" class=letterButton value="1"><li >1</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="2"><li >2</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="3"><li >3</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="4"><li >4</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="5"><li >5</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="6"><li >6</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="7"><li >7</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="8"><li >8</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="9"><li class="letter">9</li>
                    <button class=letterButton type="button" onClick="clearSaldoField()"><li class="clearl delete">X</li></button>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="0"><li >0</li>
                    <button class=letterButton type="button" value="backSpaceLetter" onClick="backSpaceLetter()"><li class="remove"><</li></button>
                    <button class=letterButtonEnter type="button" v-on:click.native="updateChosen()"><li class="return clearl enter">ENTER</li></button>
                </ul>
            <div id=clock> </div>
        </div>
    </div>
    </div>
</body>
