<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Juicifers Lager</title>
  <link rel="stylesheet" href="css/lager.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/juicifer-main.js" defer></script>
  <script src="js/lager.js" defer></script>
</head>
<body>
    <div id="mainDiv">
    <div id="topDiv">
        <p> <button id=homeButton type="button" onclick="location.href='/staff';"> <img src="images/home.png" alt="Home Button" width=70px/> </button>LAGERSALDO </p>
    </div>
    <div id="lagerDiv">
        <div id="lager">
            <div id="alphabet">
              <ul class="alphabet">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                        <li>D</li>
                        <li>E</li>
                        <li>F</li>
                        <li>G</li>
                        <li>H</li>
                        <li>I</li>
                        <li>J</li>
                        <li>K</li>
                        <li>L</li>
                        <li>M</li>
                        <li>N</li>
                        <li>O</li>
                        <li>P</li>
                        <li>Q</li>
                        <li>R</li>
                        <li>S</li>
                        <li>T</li>
                        <li>U</li>
                        <li>V</li>
                        <li>W</li>
                        <li>X</li>
                        <li>Y</li>
                        <li>Z</li>
                        <li>Å</li>
                        <li>Ä</li>
                        <li>Ö</li>
                    </ul>
            </div>
            <div id="lagerList" class="scrollbar">
                <ingredient
                  ref="ingredient"
                  type="ingredient_butt"
                  v-for= "item in ingredients"
                  :name = "ingredient_button"
                  :id= "item.ingredient_id"
                  :item="item"
                  :lang="lang"
                  :key="item.ingredient_id">
                </ingredient>
            </div>
        </div>
        <div id="lagerConsole">
                <p id=consoleHeader> ÄNDRA LAGERSALDO</p>
                <div id=changeSaldoConsole> <p id=changeSaldoConsoleChild></p> </div>
                <ul id="keyboard">
                    <input type="button" onClick="changeSaldo(this)" id ="letterButton" class=letterButton value="1"><li >1</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="2"><li >2</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="3"><li >3</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="4"><li >4</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="5"><li >5</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="6"><li >6</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="7"><li >7</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="8"><li >8</li>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="9"><li class="letter">9</li>
                    <button class=letterButton type="button" onClick="clearSaldoField()"><li class="clearl delete">X</li></button>
                    <input type="button" onClick="changeSaldo(this)" id =letterButton class=letterButton value="0"><li >0</li>
                    <button class=letterButton type="button" value="backSpaceLetter" onClick="backSpaceLetter()"><li class="remove"><</li></button>
                    <button class=letterButtonEnter type="button" v-onclick: enterSaldo><li class="return clearl enter">ENTER</li></button>
                </ul>
            <div id=clock> </div>
        </div>
    </div>
    </div>
</body>
