@import url("reset.css")

@font-face {
  font-family: 'champagne__limousinesregular';
  src: url('/css/fonts/champagne/champagne_limousines-webfont.eot');
  src: url('/css/fonts/champagne/champagne_limousines-webfont.eot?#iefix') format('embedded-opentype'),
  url('/css/fonts/champagne/champagne_limousines-webfont.woff2') format('woff2'),
  url('/css/fonts/champagne/champagne_limousines-webfont.woff') format('woff'),
  url('/css/fonts/champagne/champagne_limousines-webfont.svg#champagne__limousinesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crapaudgros';
  src: url('fonts/crapaud/crapaud_gros-webfont.eot');
  src: url('fonts/crapaud/crapaud_gros-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/crapaud/crapaud_gros-webfont.woff2') format('woff2'),
  url('fonts/crapaud/crapaud_gros-webfont.woff') format('woff'),
  url('fonts/crapaud/crapaud_gros-webfont.svg#crapaudgros') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'champagne__limousinesregular', arial, sans-serif;
  background-color: rgb(64,64,64);
  color: white;
}

#maindiv{
    font-family: 'champagne__limousinesregular', arial, sans-serif;
}

/* Divs */

#lager{
  width: 65vw;
  height: 75vh;
  float: left;
}

#lagerList{
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

.ingredient {
  border: 1px solid white;
  width: 60vw;
  border-radius: 1vw;
  font-size: 5vh;
  padding: 0pt;
  margin: 1%;
}

#ingredientLagerButton{
    text-align: left;
    color: white;
    background-color: transparent;
    border: 0pt;
    cursor: pointer;
    border-radius: 25px;
    font-size:1.5vw;
    width: 95%;
    height: 3vw;
    padding-left: 1%;
    
}

#ing_stock{
  float: right;
    padding-right:1%;
    padding-top: 0.5%;
}

#homeButton{
    float: left;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0pt;
    cursor: pointer;
    overflow: hidden;
}

#topDiv{
  text-align: center;
  font-size:10vh;
}

p {
  margin: 2%;
}
/* Alphabet*/
.alphabet {
  float: left;
  list-style-type: none;
  margin-top:90px;
  margin: 1%;
  width: 100%;
  padding: 0px;
}

li {
  padding:0px;
  font-size: auto;
  text-align: center;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  color:white;
  display:inline;
}
/* NumPad */
#lagerConsole {
  width: 30vw;
  height: 75vh;
  float: right;
}

#changeSaldoConsole{
    float: top;
    text-align: center;
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: rgb(255,255,255,0.4);
    border: 2pt;
    width: 63%;
    height: 15%;
    margin: 19pt;
}


#keyboard {
width: 80%;
height: auto;
float:left;
display: inline-block;
margin: 7%;
padding: 0;
list-style: none;
}

#keyboard li {

}
.clearl {
    clear: left;
}


.letterButton{
    float: left;
    margin: 0 5px 5px 0;
    width: 25%;
    height: 10%;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: rgb(255,255,255,0.4);
    background-repeat: no-repeat;
    border: 0pt;
    color: black;
    cursor: pointer;
    overflow: hidden;
}

.letter{
    color:white;
}

.letterButtonEnter{
    float: left;
    margin: 0 5px 5px 0;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    background-color: rgb(255,255,255,0.4);
    background-repeat: no-repeat;
    border: 0pt;
    cursor: pointer;
    overflow: hidden;
    width: 79%;
} 

.enter{
    color:white;
}

#clock{
    font-size: 4vh;
    float: right;
    padding-right: 1vw;;
}

@media (max-width:720px) {
  .smallOrderList {
    display:block;
  }
  .smallOrder {
    border: 1px solid #900;
    width: calc(100% -2em);
  }
}
