@import url("reset.css")

#centerDiv{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

button {
  padding: 10px;
  margin: 2vw;
  border: 0.1em solid;
  border-radius: 12px;
  font-size: 2.5vw;
  width: 12em;
  height: 6em;
  cursor: pointer;
}

#lagerB {
  background: rgba(33,68,229,0.4);
  border-color: rgb(33,68,229);
}

#forberedB {
  background: rgba(255,142,0,0.4);
  border-color: rgb(255,142,0);
}

#historikB {
  background: rgba(39,166,17,0.4);
  border-color: rgb(39,166,17);
}

#statistikB {
  background: rgba(255,238,0,0.4);
  border-color: rgb(255,238,0);
}

.buttonText{
    font-size: 3.5vw;
}
